/* Copyright Marc Stogaitis 2024. All Rights Reserved. */

body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none !important;
}

#resultAnimation {
    position: fixed;
    margin: auto;
    top: 45vmin;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1000;
    font-size: clamp(3rem, 2vw + 4rem, 8rem);
}

.white-wins {
    color: green;
    animation: winAnimation 2s forwards;
}

.black-wins {
    color: blue;
    animation: winAnimation 2s forwards;
}

.draw {
    color: orange;
    animation: drawAnimation 2s forwards;
}

@keyframes winAnimation {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes drawAnimation {
    0% { transform: rotate(0deg); opacity: 0; }
    100% { transform: rotate(360deg); opacity: 1; }
}

#twitter {
    fill: #1DA1F2; /* Twitter blue color */
    fill-opacity: 1;
    width: 15px; /* Adjust size */
    height: 15px; /* Adjust size */
    transition: transform 0.3s ease; /* Smooth hover effect */
}
  
a:hover #twitter {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.white-link {
    color: #fff;
}

#bottom-div {
    margin-bottom: 5px;
}

#winner {
    font-size: 30px;
    font-weight: bold;
    color: green;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.dropdown {
    background-color: #444; /* Dark background for the dropdown */
    color: #fff; /* Light text for the dropdown */
    border: 1px solid #555;
    padding: 5px;
    border-radius: 5px;
    
}

.dropdown-title {
    color: #aaa; /* Light grey text for the title option */
}

.variant-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

#king-variant-explanation {
    margin-top: 5px;
    margin-bottom: 10px;
}

.side-by-side-wrapper {
    display: flex;
}
.side-by-side {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.ai-dropdown {
    max-width: 150px;
}

.center {
    text-align: center;
}